@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* navbar Styling */

.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  /* background: #2F4F4F; */
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
  z-index: 999;
}

.navbar.sticky {
  padding: 15px 0;
  background-color: rgb(55 50 74 / 98%);

}

.max-width {
  max-width: 1300px;
  padding: 0 75px;
  margin: auto;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .menuIcons li #linkedin, #facebook, #twitter {
  stroke-width: 0.1px;
}

.navbar .menuIcons li svg {
  height: 30px;
  width: 30px;
  stroke: white;
  font-size: 22px;
  font-weight:500;
  margin-left: 10px;
}

.navbar .menuIcons li:hover svg{
  stroke: orangered;
  animation: mySpinner 1s forwards;
}

@keyframes mySpinner {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

.navbar .logo {
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a{
  text-decoration: none;
  color: #FFFAF0;
}

.navbar .logo span {
  color: #FFFAF0;
  font-size: 35px;
  font-weight: 600;
  transition: all 1s ease;

}

.navbar.sticky .logo span  {
  color: rgb(16 224 224);
  font-size: 35px;
  font-weight: 600;
  font-size: 40px;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menuIcons li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #FFFAF0;
  font-size: 22px;
  font-weight:500;
  margin-left: 25px;
  transition: all 0.2s ease ;
}

.navbar .menu li :hover{
  color: rgb(16 224 224);
}

/* menu btn styling */

.menu-btn {
  color: white;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 45px;
  background: rgb(14, 141, 158);
  right: 35px;
  bottom: 35px;
  text-align: center;
  line-height: 45px;
  color: white;
  z-index: 999;
  font-size: 40px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease; 
}

.scroll-up-btn.show {
  opacity: 1;
  pointer-events: auto;
}

/* Home Section Styling */

.home {

  background: url("assets/img/hero-bg.jpg");
  display: flex;
  height: 100vh;
  width: 100%;
  color: white;
  min-height: 500px;
  /* font-family: "Dank Mono", ui-monospace, monospace; */
  font-family: 'Ubuntu', sans-serif;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  /* eliminar esto si no podemos seguir youtube */
  position: fixed;
  z-index: -1;
  /* eliminar esto si no podemos seguir youtube */
}

.home .max-width {
  margin: 300px auto auto 100px;
}

.home .home-content {
  animation: fadeDown 3s forwards;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-100%)
  } to {
    opacity: 1;
    transform: translateY(0%)
  }
}


.home .home-content .text-1 {
  font-size: 30px;
} 

.home .home-content .text-1 span {
  font-size: 30px;
  color: white;
}

.home .home-content .text-2 {
  font-size: 30px;
  margin-left: 40px;
}

.home .home-content .text-2 span {
  font-size: 60px;
  font-weight: 500;
  color: rgb(16 224 224);
}

.home .home-content .text-3 {
  font-size: 30px;
}

.home .home-content a{
  background: none;
  color: white;
  display: inline-block;
  font-size: 25px;
  padding: 12px 35px;
  font-weight: 600;
  border: 2px solid white;
  border-radius: 6px;
  margin-top: 10px;
  transition: all 0.3 ease;
  margin-left: 40px;
}

.home .home-content a:hover{
  background-color: #ffffff24;
  color: rgb(16 224 224);
}

/* About Section Styling */

.about, .skills, .teams, .contact {
  /* font-family: "Dank Mono", ui-monospace, monospace; */
  font-family: 'Ubuntu', sans-serif;
  background-color: white;
}

.about {
  /* eliminar esto si no podemos seguir youtube */
  position: relative;
  top: 1400px;
  /* eliminar esto si no podemos seguir youtube */
}

.about .max-width {
  margin-left: 0;
  padding: 50px 75px;
}

/* section .tittle::after {
  content:"";
  position: absolute;
  bottom: -7px; 
  left: 50%;
  font-size: 35px;
  font-weight: 500;
  Padding: 0 3px;
  background-color: white;
  transform: translateX(-50%);
} */

.about .about-content,
.services .serv-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}

.about .about-content .left {
  padding: 0 2.5vh 0 0;
  width: 45%;
}

.about .about-content .left img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.about .about-content .right {
  padding: 0 0 0 2.5vh;
  width: 55%;
}

.about .about-content .right .text {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right .text span {
  color: rgb(14, 141, 158);
}

.about .about-content .right p {
  text-align: justify; 
  padding: 15px 0;
  font-size: 20px;
}

.about .about-content .right a {
  font-size: 17px;
  display: block;
  color: white;
  background: rgb(55 50 74 / 70%);
  font-weight: 600;
  border-radius: 6px;
  transition: all 0.3 ease;
  padding: 10px 20px;
  width: 30%;
  text-align: center;
}

.about .about-content .right a:hover {
  background-color: rgb(14, 141, 158 );
}

/* All similar styling code */

section .tittle {
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  }

section .tittle::before {
  content: "";
  position: absolute;
  bottom: 0;
  transform: translateX(-5%);
  width: 400px;
  height: 3px;
  background-color: rgb(14, 141, 158);
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}




/* Services Section Styling */

.services {
  background: black;
  color: white;
}

.services .serv-content .card {
  background: #191919;
  width: 33%;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  margin: 25px 0px 0 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.services .serv-content .card:hover {

  border: 1px solid rgb(172, 209, 212);
  color: white;
  background-color: rgb(14, 141, 158);
  transform: scale(1.05);
}

.services .serv-content .card:hover i {
  color: white;
}

.services .serv-content .card i {
  font-size: 40px;
  color: rgb(14, 141, 158);
}

.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 9px 0 6px 0;
}

/* Skills Section Styling */

.skills .skills-content .column {
  width: calc(50% - 30px);
  margin: 25px 0px 0 0;

}

.skills .skills-content .left .text  {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.skills .skills-content .left p  {
  text-align: justify;
}

.skills .skills-content .left a  {
  display: block;
  color: white;
  background: rgb(55 50 74 / 70%);
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  margin-top: 15px;
  padding: 7px 15px;
  width: 30%;
  text-align: center;
  transition: all 0.3 ease;
}

.skills .skills-content .left a:hover  {
  background-color: rgb(14, 141, 158 );
}

.skills .skills-content .right .bars  {
  margin-bottom: 10px;
}

.skills .skills-content .right .info  {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills .skills-content .right span  {
  font-weight: 550;
  font-size: 18px;
}

.skills .skills-content .right .line  {
  position: relative;
  height: 7px;
  width: 100%;
  background: grey;

}

.skills .skills-content .right .line::before  {
  content: "";
  position: absolute;
  height: 7px;
  background: #4B0082;
  left: 0;
  top: 0;
}

.skills .skills-content .right .html::before  {
  width: 90%;
}
.skills .skills-content .right .css::before  {
  width: 90%;
}
.skills .skills-content .right .js::before  {
  width: 70%;
}
.skills .skills-content .right .react::before  {
  width: 50%;
}
.skills .skills-content .right .php::before  {
  width: 20%;
}
.skills .skills-content .right .mysql::before  {
  width: 20%;
}
.skills .skills-content .right .ruby::before  {
  width: 10%;
}

/* Teams Section Styling */



.teams .carousel {
  margin-top: 25px;
}

.teams .carousel .card {
  background: #191919;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  transition: all 0.3s ease;
}

.teams .carousel .card:hover {
  background:#4B0082  	;
}

.teams .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.teams .carousel .card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(14, 141, 158);
}

.teams .carousel .card:hover img {
  transform: scale(1.05);
  border: 2px solid white;
}

.teams .carousel .card:hover .text {
  color: white;
}

.teams .carousel .card .text {
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0 7px 0;
  color: rgb(14, 141, 158);
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-dot {
  height: 20px;
  width: 20px;
  border-radius: 14px;
  outline: none!important;
  border-radius: 50%;
  border: 2px solid rgb(14, 141, 158)!important;
  transition: all 0.3s ease;
  margin: 0 2px;  
}

.owl-dot.active,
.owl-dot:hover {
  background: rgb(14, 141, 158)!important;
  border: 2px solid white
}

/* Contact Section Styling */

.contact .contact-content .column {
  width: 45%;
  margin: 25px 0 0 0;
}

.contact .contact-content .left p {
  text-align: justify;
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left .icons{
  margin: 10px 0;
}

.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info{
  margin-left: 30px;
}
.contact .contact-content .row i{
  font-size: 20px;
  color: rgb(14, 141, 158);
}

.contact .contact-content .info .head{
  font-weight: 500;
}

.contact .contact-content .info .sub-title{
  color: #191919;
}

.contact .right form .fields{
  display: flex;
  flex-wrap: wrap;
}

.contact .right form .fields .field{
  height: 45px;
  width: 100%;
}

.contact .right form .textarea textarea{
  height: 40px;
  width: 100%;
  border: 1px solid lightblue;
  resize: none;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
  border: 1px solid lightblue;
}

.contact .right form .fields .button button{
  height: 30px;
  width: 170px;
  background: rgb(55 50 74 / 70%);
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  color: white;
  text-align: center;
  transition: all 0.3 ease;
  cursor: pointer;
}

.contact .right form .fields .button:hover button{
  background-color: rgb(14, 141, 158);
}

.contact .right form .fields input{
  height: 100%;
  width: 100%;
  border-radius: 6px;
  outline: none;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
  border: 1px solid lightblue;
}

.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .email{
  margin-right: 10px;
}

/* Footer Section Styling */

footer {
  background: #191919;
  padding: 20px 23px;
  color: white;
}

footer span a{
  color: rgb(14, 141, 158);
  text-decoration: none;
}

footer span a:hover{
  text-decoration: underline;
}
























































































































/* Responsive Media Query Start */
@media (max-width: 1104px){
  .home .max-width {
    margin-left: 0px;
  }
  .about .about-content .right {
    padding: 0 0 0 2vh;
  }
  .about .about-content .left {
    padding: 0 2vh 0 0;
  }
}

@media (max-width: 979px){
  .max-width{
    padding: 0 30px;
    max-width: 800px;
  }
  .menu-btn{
    display: block;
    z-index: 999;
    font-size: 32px;
  }

  .menu-btn .icofont-navigation-menu.active::before{
    color: rgb(31 218 218);
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: black;
    text-align: center;
    padding: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menuIcons {
    display: none;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
   display: inline-block;
   margin: 20px 0;
   font-size: 25px;
  }

  .home .home-content a{
    font-size: 20px;
    padding: 12px 15px;
    margin-top: 10px;
  }

  .about .tittle {
    margin: 30px;
  }

  .about .about-content {
    justify-content: center;
  }

  .about .about-content .right {
    padding: 1vh 1vh 1vh 1vh;
    width: 100%;
  }
  .about .about-content .left {
    padding: 1vh 1vh 1vh 1vh;
    width: 75%;
  }
  .about .about-content .left img{
    height: 75%;
    width: 100%;

    border-radius: 6px;
  }

  section .tittle::before {
    width: 190px;
  }
  .services .serv-content .card {
    background: #191919;
    width: 48%;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    margin: 15px 0px 0 0;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .about .max-width {
    margin-left: 0;
    padding: 30px;
  }
}














@media (max-width: 699px){
  .home .home-content .text-1 {
    font-size: 20px;
  }   
  .home .home-content .text-1 span {
    font-size: 40px;
  }  
  .home .home-content .text-2 {
    font-size: 20px;
    margin-left: 15px;
  }  
  .home .home-content .text-2 span {
    font-size: 40px;
    font-weight: 600;
    color: rgb(16 224 224);
  }  
  .home .home-content .text-3 {
    font-size: 20px;
  }
  .home .home-content a{
    margin-left: 15px;
    font-size: 15px;
  }
  .contact .contact-content .column,
  .skills .skills-content .column {
    width: 100%;
    margin: 25px 25px 0 0;
  }
}

@media (max-width: 460px){

  .services .serv-content {
    display: block;
  }
  .services .serv-content .card,
  .skills .skills-content .column {
    width: 100%;
  }

}